<% flash.each do |type, message| %>
  <div role="alert" data-controller="flash" class="flash <%= type %> rounded-xl p-4 shadow-xl">
    <div class="flex items-start gap-4">
      <div class="flex-1">
        <strong class="block font-medium text-white"> <%= message %> </strong>
      </div>
    </div>
  </div>
<% end %>