<%= form_with(model: link) do |f| %>
  <%= f.label :url, "Paste a URL here to save it for later:" %>

  <div class="flex justify-between gap-2 mt-2">
    <div class="w-full">
      <%= f.text_field :url, placeholder: "https://...", class: "w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
    </div>
    <div>
      <%= f.submit "Save", class: "bg-blue-500 text-white py-2 px-4 rounded-lg inline-flex items-center", id: "link-submit-button" %>
    </div>
  </div>
  <% end %>
